#changetable{border-color: #000;position: fixed;
            position: absolute;
            top: 40%;
            left: 40%;
            border: 2px solid #C0C0C0;/*������߿���ʽ*/
            background-color: #FFFFFF;/*�����򱳾�ɫ*/
    }

